html {
    font-family: 'Courier New', Courier, monospace;
    background-color: #333;
}

#wrapper {
    width: 600px;
    background: #FFF;
    border-top: 5px solid rgb(74, 207, 74);
    padding: 1em;
    margin: 1em auto;
    box-shadow: 0 5px 10px;
}

h1 {
    margin-top: 0;
}

#status {
    display: inline;
}

#server_response {
    margin-top: 1em;
}

textarea {
    width: 100%;
    padding: 0.7rem;
    border: 1px solid #9A9A9A;
    border-radius: 3px; 
    min-height: 20%;
    margin-bottom: 1em;
}

button {
    border: none;
    padding: 0.5rem 0.9rem;
    font-size: 0.9rem;
    border-radius: 3px;
    color: rgb(24, 24, 24);
    border-bottom: 1px solid black;
    background: rgb(228, 79, 79);
}

button[type="submit"] {
    background: rgb(112, 223, 119);
}

button:hover {
    background: blue;
    opacity: 0.7;
    color: white;
    cursor: pointer;
}

#form {
    display: none; 
}

#form.show {
    display: inline;
}

.open {
    color: limegreen;
    font-weight: bold;
}

.closed {
    color: rgb(163, 26, 26);
    font-weight: bold;
}

.closing {
    color: rgb(209, 101, 18);
}


ul {
    list-style: none;
    padding: 0;
    font-size: 0,9em;
}

ul li {
    padding: 0.5em 1em;
    border-bottom: 1px solid #c5c5c5;
    overflow-wrap: break-word;
}

ul li:first-child {
    border-top: 1px solid #c5c5c5;;
}

ul li span {
    display: inline-block;
    width: 20%;
    font-weight: bold;
    color: #adadad;
    font-size: 0.75em;
    letter-spacing: 1px;
}

.sent {
    background-color: #eeeded;
}

button#medium_sized_message {
    background-color: #333;
    padding: 0.5rem 0.9rem;
    font-size: 0.5rem;
    border-radius: 3px;
    color: rgb(24, 24, 24);
    border-bottom: 1px solid black;
    background: rgb(167, 62, 236);
    float: right
}